.vscode-test-web/**
.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
node_modules
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts